:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #2196F3;
    --text-main-color: #212121;
    --text-secondary-color: #757575;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------reset---------- */
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.list {
    list-style: none;
    font-family: var(--primary-font);
}

.link {
    text-decoration: none;
    font-family: var(--primary-font);
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

/* ---------reset---------- */

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-main-color);
    line-height: 1.36;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 auto;
}

.btn {
    border: none;
    background-color: var(--main-color);
    font-family: inherit;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    padding: 0;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

h2.title {
    font-size: 36px;
}

:hover,
:focus {
    transition: border var(--transition-dur-and-func);
}

/* -------header--------- */
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: #000000;
}

.logo span {
    color: var(--main-color);
}

.page-header {
    font-size: 14px;
    font-weight: 500;

    border-bottom: 1px solid #ECECEC;
}

.menu-item-link {
    color: var(--text-main-color);
    transition: color var(--transition-dur-and-func);
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
}

.menu-item-link:hover,
.menu-item-link:focus {
    color: var(--main-color);
}

.menu-item-link::after,
.menu-item-link::after {
    position: absolute;
    display: block;
    content: '';
    height: 4px;
    width: 100%;
    border-radius: 2px;
    transition: background-color var(--transition-dur-and-func);
    bottom: -1px;
}

.active .menu-item-link::after,
.menu-item-link:hover::after,
.menu-item-link:focus::after {
    background-color: var(--main-color);
}

.email-header, .phone-header {
    color: var(--text-secondary-color);
    transition: color var(--transition-dur-and-func);
}

.email-header:hover,
.email-header:focus,
.phone-header:hover,
.phone-header:focus {
    color: var(--main-color);
}

.contacts-header-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contacts-img-header {
    fill: var(--text-secondary-color);
    transition: fill var(--transition-dur-and-func);
}

.email-header:hover .contacts-img-header,
.email-header:focus .contacts-img-header,
.phone-header:hover .contacts-img-header,
.phone-header:focus .contacts-img-header {
    fill: var(--main-color);
}

.page-header-container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu .logo {
    margin-right: 93px;
}

.menu-list {
    display: flex;
    gap: 50px;
}

.header-contacts {
    display: flex;
    gap: 30px;
}

.active .link {
    color: var(--main-color);
}

/* -------footer---------- */

.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;
}

.logo-footer {
    color: #ffffff;
    margin-bottom: 20px;
}

.page-footer address {
    margin-top: 20px;
}

.logo-footer span {
    color: var(--main-color);
}

.location {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transition: color var(--transition-dur-and-func);
}

.email-footer,
.phone-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-dur-and-func);
}

.location:focus,
.location:hover,
.email-footer:hover,
.email-footer:focus,
.phone-footer:hover,
.phone-footer:focus {
    color: var(--main-color);
}

.page-footer-container {
    display: flex;
    align-items: baseline;
    gap: 70px;
}

.p-join-footer {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
}

.social-list-footer {
    display: flex;
    gap: 10px;
}

.social-list-footer-item {
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color var(--transition-dur-and-func);
}

.social-list-footer-item .social-list-icon {
    fill: #ffffff;
}

.social-list-footer-item:hover,
.social-list-footer-item:focus {
    background: var(--main-color);
}

.p-subscribe {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}

.form-subscribe {
    display: flex;
    gap: 20px;
}

.subscribe-email-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background: inherit;
    padding-left: 16px;
    color: #ffffff;
    outline: none;
}

.subscribe-email-input:focus {
    border: 2px solid var(--main-color);
}

.subscribe-btn {
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background var(--transition-dur-and-func);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background: #188CE8;
}

.subscribe-icon {
    fill: #ffffff;
}

/* ------STUDIO-------- */
/* -------hero--------- */

.hero {
    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .title {
    color: #FFFFFF;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    height: 120px;
    line-height: 60px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.btn-order {
    width: 216px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    transition: box-shadow var(--transition-dur-and-func), background var(--transition-dur-and-func);
}

.btn-order:hover,
.btn-order:focus {
    box-shadow: 0px 4px 4px 0px #00000026;
    background: #188CE8;
}

/* --------advantages section--------- */

.advantages {
    padding-top: 94px;
    padding-bottom: 94px;
}

.p-title {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--text-main-color);
    margin-bottom: 10px;
}

.p-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-secondary-color)
}

.advantages-list .list-item {
    /* width: 270px; */
    width: calc((100% - 90px) / 4);
}

.advantages-list {
    display: flex;
    justify-content: space-between;
}

.advantages-box {
    background-color: #f5f4fa;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
}

.advantages-box-picture {
    width: 70px;
    height: 70px;
    margin: 20px 100px;
}

/* ------what we doing section-------- */

.what-we-doing {
    padding-bottom: 94px;
}

.what-we-doing .title {
    text-align: center;
    color: var(--text-main-color);
    margin-bottom: 50px;
}

.what-we-doing-list {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.what-we-doing-list-item {
    position: relative;
    /* width: 370px; */
    width: calc((100% - 60px) / 3);
}

.what-we-doing img {
    width: 100%;
    height: 294px;
}

.what-we-doing-description {
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0px;
}

/* -----our team---------- */

.our-team {
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.our-team .title {
    text-align: center;
    color: var(--text-main-color);
    margin-bottom: 50px;
}

.our-team-list .list-item {
    /* width: 270px; */
    width: calc((100% - 90px) / 4);
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team-list {
    display: flex;
    justify-content: space-between;
}

.team-employer-description {
    padding-top: 30px;
    padding-bottom: 30px;
}

.employer-name {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-main-color);
    margin-bottom: 10px;
}

.employer-description {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-secondary-color);
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-list-item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color var(--transition-dur-and-func);
}

.social-list-item:hover,
.social-list-item:focus {
    background-color: var(--main-color);
}

.social-list-icon {
    width: 20px;
    height: 20px;
    margin: 12px;
    fill: #afb1b8;
    transition: fill var(--transition-dur-and-func);
}

.social-list-item:hover .social-list-icon,
.social-list-item:focus .social-list-icon {
    fill: #ffffff;
}

/* ---------clients---------- */

.clients {
    padding-top: 94px;
    padding-bottom: 94px;

}

.clients .title {
    text-align: center;
    color: var(--text-main-color);
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.clients-list-item {
    width: 170px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border-color var(--transition-dur-and-func);
}

.client-list-icon {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
    margin: 16px 32px;
    transition: fill var(--transition-dur-and-func);
}

.clients-list-item:hover,
.clients-list-item:focus {
    border-color: var(--main-color);
}

.clients-list-item:hover .client-list-icon,
.clients-list-item:focus .client-list-icon {
    fill: var(--main-color);
}


/* ---------PORTFOLIO----------- */

.portfolio-filter {
    padding: 94px 0;
}

.portfolio-filter-list {
    margin-bottom: 50px;
}

.portfolio-filter-list-btn {
    background: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    color: var(--text-main-color);
    padding: 6px 22px;
    transition: color var(--transition-dur-and-func), background var(--transition-dur-and-func);
}

.portfolio-filter-list .active,
.portfolio-filter-list-btn:hover,
.portfolio-filter-list-btn:focus {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    background: var(--main-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-filter-list {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.work-title {
    font-weight: 700;
    font-size: 18px;
    color: var(--text-main-color);
    margin-bottom: 4px;
    margin-left: 24px;
}

.work-description {
    font-weight: 400;
    font-size: 16px;
    color: var(--text-secondary-color);
    margin-bottom: 20px;
    margin-left: 24px;
}

.portfolio-works-list-item {
    /* width: 370px; */
    width: calc((100% - 60px) / 3);
    transition: box-shadow var(--transition-dur-and-func);
}

.portfolio-works-list-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.portfolio-works {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-works .description {
    padding-top: 20px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.portfolio-work-img-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: #ffffff;
    background: rgba(33, 150, 243, 0.9);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 24px;
    overflow: auto;

    display: flex;
    align-items: center;

    transform: translateY(100%);
    transition: transform var(--transition-dur-and-func);
}

.portfolio-works-list-item:hover .overlay,
.portfolio-works-list-item:focus .overlay {
    transform: translateY(0%);
}

/* ----------modal------------*/

/* backdrop */
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 100;

    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    transition: opacity var(--transition-dur-and-func);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* modal window */
.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}

.modal-close-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close-icon {
    transition: fill var(--transition-dur-and-func);
}

.modal-close-btn:focus .modal-close-icon,
.modal-close-btn:hover .modal-close-icon {
    fill: var(--main-color);
}

/* form modal */
.modal-form-title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-bottom: 12px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-field {
    margin-bottom: 10px;
}

.modal-form-field-description {
    font-weight: 400;
    font-size: 12px;
    color: var(--text-secondary-color);
    margin-bottom: 4px;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
}

.modal-form-message {
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
}

.modal-form-message:focus {
    outline: none;
    border-color: var(--main-color);
}

.modal-form-field-check {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    align-self: center;
}

.modal-form-input-check {
    fill: none;
    border: 1px solid #212121;
    border-radius: 2px;
    margin-right: 7px;
}

.modal-form-checkbox {
    position: absolute;
    appearance: none;
}

.modal-form-checkbox:focus + .modal-form-input-check {
    outline: 2px solid var(--main-color);
}

.modal-form-checkbox:checked + .modal-form-input-check {
    fill: #ffffff;
    border: none;
    background: var(--main-color);
    outline: none;
}

.modal-form-button {
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    align-self: center;
    padding: 10px 52px;
    background: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background var(--transition-dur-and-func);
}

.modal-form-button:hover {
    background: #188CE8;
}

.modal-form-input-wrapper {
    position: relative;
}

.modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.modal-form-input:focus {
    outline: none;
    border-color: var(--main-color);
}

.modal-form-input:focus + .modal-form-input-icon {
    fill: var(--main-color);
}
