.clients {
    padding-top: 94px;
    padding-bottom: 94px;

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__list-item {
        width: 170px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        transition: border-color var(--transition-dur-and-func);
    }

    &__list-item:hover,
    &__list-item:focus {
        border-color: var(--main-color);
    }
}

.client-icon {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
    margin: 16px 32px;
    transition: fill var(--transition-dur-and-func);

    .clients__list-item:hover &,
    .clients__list-item:focus & {
        fill: var(--main-color);
    }
}