.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;

    &__container {
        display: flex;
        align-items: baseline;
        gap: 70px;
    }

    address {
        margin-top: 20px;
    }

    &__location {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: var(--color-white);
        transition: color var(--transition-dur-and-func);
    }

    &__email,
    &__phone {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        transition: color var(--transition-dur-and-func);
    }

    &__location:focus,
    &__location:hover,
    &__email:hover,
    &__email:focus,
    &__phone:hover,
    &__phone:focus {
        color: var(--main-color);
    }
}

.join__p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-white);
    margin-bottom: 20px;
}

.social-list-footer {
    display: flex;
    gap: 10px;

    &__item {
        background: rgba(255, 255, 255, 0.1);
        width: 44px;
        height: 44px;
        border-radius: 50%;
        transition: background-color var(--transition-dur-and-func);
    }

    &__item:hover,
    &__item:focus {
        background: var(--main-color);
    }
}

.social-list-footer__item .social-list__icon {
    fill: var(--color-white);
}

.subscribe {
    &__p {
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: var(--color-white);
        margin-bottom: 20px;
    }

    &__form {
        display: flex;
        gap: 20px;
    }

    &__email-input {
        width: 358px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        background: inherit;
        padding-left: 16px;
        color: var(--color-white);
        outline: none;
    }

    &__email-input:focus {
        border: 2px solid var(--main-color);
    }

    &__btn {
        font-weight: 700;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 200px;
        height: 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: background var(--transition-dur-and-func);
    }

    &__btn:hover,
    &__btn:focus {
        background: #188CE8;
    }

    &__icon {
        fill: var(--color-white);
    }
}