.page-header {
    font-size: 14px;
    font-weight: 500;

    border-bottom: 1px solid #ECECEC;

    &__container {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    &__list {
        display: flex;
        gap: 50px;
    }

    &__link {
        color: var(--text-main-color);
        transition: color var(--transition-dur-and-func);
        position: relative;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    &__link:hover,
    &__link:focus {
        color: var(--main-color);
    }

    &__link::after,
    &__link::after {
        position: absolute;
        display: block;
        content: '';
        height: 4px;
        width: 100%;
        border-radius: 2px;
        transition: background-color var(--transition-dur-and-func);
        bottom: -1px;
    }

    .active &__link::after,
    &__link:hover::after,
    &__link:focus::after {
        background-color: var(--main-color);
    }
}

.active .link {
    color: var(--main-color);
}
