.advantages {
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: var(--text-main-color);
        margin-bottom: 10px;
    }

    &__description {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--text-secondary-color)
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__box {
        background-color: #f5f4fa;
        width: 270px;
        height: 120px;
        margin-bottom: 30px;
        border-radius: 4px;
    }

    &__img {
        width: 70px;
        height: 70px;
        margin: 20px 100px;
    }

    &__list .list-item {
        width: calc((100% - 90px) / 4);
    }
}