.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;

    &__container {
        display: flex;
    }

    address {
        margin-top: 20px;
    }

    &__location {
        font-style: normal;
        @include font-size-weight(14px, 400);
        line-height: 24px;
        letter-spacing: 0.03em;
        color: var(--color-white);
        transition: color var(--transition-dur-and-func);
    }

    &__email,
    &__phone {
        font-style: normal;
        @include font-size-weight(14px, 400);
        line-height: 24px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        transition: color var(--transition-dur-and-func);
    }

    &__location:focus,
    &__location:hover,
    &__email:hover,
    &__email:focus,
    &__phone:hover,
    &__phone:focus {
        color: var(--main-color);
    }
}

.join__p {
    text-transform: uppercase;
    @include font-size-weight(14px, 700);
    color: var(--color-white);
    margin-bottom: 20px;
}

.social-list-footer {
    display: flex;
    gap: 10px;

    &__item {
        background: rgba(255, 255, 255, 0.1);
        width: 44px;
        height: 44px;
        border-radius: 50%;
        transition: background-color var(--transition-dur-and-func);
    }

    &__item:hover,
    &__item:focus {
        background: var(--main-color);
    }
}

.social-list-footer__item .social-list__icon {
    fill: var(--color-white);
}

.subscribe {
    &__p {
        @include font-size-weight(14px, 700);
        text-transform: uppercase;
        color: var(--color-white);
        margin-bottom: 20px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__email-input {
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        background: inherit;
        padding-left: 16px;
        color: var(--color-white);
        outline: none;
    }

    &__email-input:focus {
        border: 2px solid var(--main-color);
    }

    &__btn {
        @include font-size-weight(16px, 700);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 200px;
        height: 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: background var(--transition-dur-and-func);
    }

    &__btn:hover,
    &__btn:focus {
        background: #188CE8;
    }

    &__icon {
        fill: var(--color-white);
    }
}

@media screen and (max-width: 767px) {
    .page-footer {
        &__container {
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            text-align: center;
        }

        address {
            margin-bottom: 60px;
        }
    }

    .social-list-footer {
        margin-bottom: 60px;
    }

    .subscribe {
        width: 100%;

        &__btn {
            align-self: center;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .page-footer {
        &__container {
            display: block;
        }

        &__address-and-join {
            display: flex;
            justify-content: space-between;
        }

        &__logo-and-address {
            text-align: center;
        }

        .join {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .subscribe {
        display: block;
        width: 450px;
        margin: 60px auto;
        text-align: center;

        &__btn {
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: 1200px) {
    .page-footer {
        &__container {
            align-items: baseline;
            justify-content: space-between;
        }

        &__address-and-join {
            display: flex;
            align-items: baseline;
            gap: 70px;
        }
    }

    .subscribe {
        &__form {
            flex-direction: row;
            width: 570px;
        }

        &__email-input {
            width: 100%;
        }

        &__btn {
            padding: 10px 28px;
        }
    }
}