.page-header {
    padding-top: 16px;
    padding-bottom: 16px;
    @include font-size-weight(14px, 500);
    border-bottom: 1px solid #ECECEC;
}

.page-header__container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

@media screen and (max-width: 767px) {
    .menu {
        display: none;
    }
    
    .header-contacts {
        display: none;
    }

    .open-mobile-menu-btn {
        background-color: transparent;
        border: none;
        padding: 0px;
    }
    
    .open-mobile-menu-btn__icon {
        width: 40px;
        height: 40px;
    }

    .logo {
        font-size: 24px;
    }

    .navigation {
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .navigation {
        display: flex;
        align-items: center;
        gap: 88px;
        height: 100%;
    }

    .page-header {
        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .menu {
        display: flex;
        gap: 50px;

        &__list {
            display: flex;
            gap: 50px;
        }

        &__link {
            color: var(--text-main-color);
            transition: color var(--transition-dur-and-func);
            position: relative;
            padding-top: 32px;
            padding-bottom: 32px;
        }

        &__link:hover,
        &__link:focus {
            color: var(--main-color);
        }

        &__link::after,
        &__link::after {
            position: absolute;
            display: block;
            content: '';
            height: 4px;
            width: 100%;
            border-radius: 2px;
            transition: background-color var(--transition-dur-and-func);
            bottom: -1px;
        }

        .active &__link::after,
        &__link:hover::after,
        &__link:focus::after {
            background-color: var(--main-color);
        }
    }

    .header-contacts {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .open-mobile-menu-btn {
        display: none;
    }

    .active .link {
        color: var(--main-color);
    }
}

@media screen and (min-width: 1200px) {
    .page-header {
        display: flex;
        height: 80px;

        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    
    .header-contacts {
        flex-direction: row;
        gap: 30px;
        align-items: center;
    }

    .logo {
        font-size: 26px;
    }

    .navigation {
        gap: 93px;
    }
}