.portfolio-filter {
    padding: 94px 0;

    &__list {
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        gap: 8px;
    }

    &__btn {
        background: #F5F4FA;
        @include font-size-weight(16px, 500);
        color: var(--text-main-color);
        padding: 6px 22px;
        transition: color var(--transition-dur-and-func), background var(--transition-dur-and-func);
    }

    &__list .active,
    &__btn:hover,
    &__btn:focus {
        @include font-size-weight(16px, 500);
        text-align: center;
        color: var(--color-white);
        background: var(--main-color);

        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.work {
    &__title {
        @include font-size-weight(18px, 700);
        color: var(--text-main-color);
        margin-bottom: 4px;
        margin-left: 24px;
    }

    &__description {
        @include font-size-weight(16px, 400);
        color: var(--text-secondary-color);
        margin-bottom: 20px;
        margin-left: 24px;
    }

    &__img-wrapper {
        position: relative;
        overflow: hidden;
    }
}

.portfolio-works {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

    &__list-item {
        width: calc((100% - 60px) / 3);
        transition: box-shadow var(--transition-dur-and-func);
    }

    &__list-item:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        cursor: pointer;
    }

    .description {
        padding-top: 20px;
        border-left: 1px solid #EEEEEE;
        border-right: 1px solid #EEEEEE;
        border-bottom: 1px solid #EEEEEE;
    }
}

.overlay {
    @include font-size-weight(18px, 400);
    line-height: 1.55;
    color: var(--color-white);
    background: rgba(33, 150, 243, 0.9);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 24px;
    overflow: auto;

    display: flex;
    align-items: center;

    transform: translateY(100%);
    transition: transform var(--transition-dur-and-func);

    .portfolio-works__list-item:hover &,
    .portfolio-works__list-item:focus & {
        transform: translateY(0%);
    }
}