.what-we-doing {
    padding-bottom: 94px;

    &__list {
        display: flex;
        gap: 30px;
        justify-content: space-between;
    }

    &__list-item {
        position: relative;
        width: calc((100% - 60px) / 3);
    }

    &__img {
        width: 100%;
        height: 294px;
    }

    &__description {
        position: absolute;
        @include font-size-weight(14px, 700);
        text-align: center;
        text-transform: uppercase;
        color: var(--color-white);
        width: 100%;
        padding-top: 27px;
        padding-bottom: 27px;
        background: rgba(47, 48, 58, 0.8);
        bottom: 0px;
    }
}