.btn-order {
    width: 216px;
    height: 50px;
    @include font-size-weight (16px, 700);
    transition: box-shadow var(--transition-dur-and-func), background var(--transition-dur-and-func);

    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px 0px #00000026;
        background: #188CE8;
    }
}