.email-header, .phone-header {
    color: var(--text-secondary-color);
    transition: color var(--transition-dur-and-func);
}

.email-header:hover,
.email-header:focus,
.phone-header:hover,
.phone-header:focus {
    color: var(--main-color);
}

.contacts-header-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contacts-img-header {
    fill: var(--text-secondary-color);
    transition: fill var(--transition-dur-and-func);

    .email-header:hover &,
    .email-header:focus &,
    .phone-header:hover &,
    .phone-header:focus & {
        fill: var(--main-color);
    }
}

.header-contacts {
    display: flex;
    gap: 30px;
}