.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);

    &.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    &__container {
        width: 450px;
        height: 100%;
        padding: 48px;
        padding-left: 40px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: scroll;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
    }

    &__phone {
        color: var(--main-color);
        @include font-size-weight(34px, 500)
    }

    &__email {
        margin: 32px 0 64px;
        color: var(--text-secondary-color);
        @include font-size-weight(24px, 500)
    }

    &__social-list {
        display: flex;
        // @include font-size-weight(18px, 500);
    }

    &__social-list-link {
        color: var(--main-color);
    }

    &__social-list-item:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;
        margin-right: 10px;
    }

    &__close-btn {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 10px;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: 0;
        z-index: 150;
    }

    &__close-icon {
        transition: fill var(--transition-dur-and-func);
        width: 40px;
        height: 40px;
    }

    &__link {
        color: var(--text-main-color);
    }

    .active &__link {
        color: var(--main-color);
    }

    &__list-item:not(:last-child) {
        margin-bottom: 32px;
    }

    &__list-item {
        @include font-size-weight(40px, 500);
    }
}

.mobile-menu__close-btn:focus .mobile-menu__close-icon,
.mobile-menu__close-btn:hover .mobile-menu__close-icon,
.mobile-menu__btn:focus .mobile-menu__close-icon,
.mobile-menu__btn:hover .mobile-menu__close-icon {
    fill: var(--main-color);
}

.mobile-menu__list-item:focus .mobile-menu__link,
.mobile-menu__list-item:hover .mobile-menu__link {
    color: var(--main-color);
}