h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.list {
    list-style: none;
    font-family: var(--primary-font);
}

.link {
    text-decoration: none;
    font-family: var(--primary-font);
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    color: var(--text-main-color);
    line-height: 1.36;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 auto;
}

h2.title {
    font-weight: 700;
    text-align: center;
    color: var(--text-main-color);
}

:hover,
:focus {
    transition: border var(--transition-dur-and-func);
}